@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Genshin';
    src: url('../fontes/zh-cn.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    /* Cores padrão do site */
    --cor00: #C2D8EE;
    --cor01: #A0B2C3;
    --cor02: #637E99;
    --cor03: #35526F;
    --cor04: #162D44;
    --cor05: #040F1A;
    --branco: white;
    --preto: black;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Montserrat", sans-serif;
    --fonte-genshin: "Genshin", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(343deg, var(--cor05), var(--cor04));
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo a {
    display: flex;
    align-items: center;
}

.header-logo img {
    max-height: 35px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 20px;
}

.header-nav {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.header-nav > a {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    border-radius: 4px;
}

.header-nav > a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
    font-weight: 600;
}

@media (min-width: 900px) {
    header nav.menu-mobile a, header div.header-logo-mobile, header div#menu-icon img {
        display: none;
    }
}
/* Media query para dispositivos moveis */
@media (max-width: 900px) {
    header nav.header-nav, header div.header-logo, #suporte {
        display: none;
    }

    header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header div.header-logo-mobile  {
        margin: auto;
    }

    header div.header-logo-mobile img {
        max-height: 35px; /* Ajuste conforme necessário */
        height: auto;
    }

    header div#menu-icon {
        display: inline-block;
        cursor: pointer;
    }

    header div#menu-icon img {
        max-width: 50px;
        max-height: 55px;
        display: block;
    }

    header nav.menu-mobile {
        display: none;
        position: absolute;
        top: 73px;
        left: 2px;
        background-color: rgba(0, 0, 0, 0.600);
        width: 50%;
    }

    header nav.menu-mobile a {
        text-align: center;
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        color: white;
        font-family: var(--fonte-destaque);
        font-size: 1.1em;
        font-weight: 500;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    header nav.menu-mobile a:hover {
        background-color: rgba(0, 0, 0, 0.500);
        transition-duration: 0.7s;
        font-weight: 600;
    }
}

main {
    max-width: 1200px;
    background-color: var(--cor00);
    margin: auto;
    text-align: center;
    height: 1200px;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adiciona um gap uniforme entre os itens */
}

main section > a {
    display: inline-block;
    max-width: 170px;
    margin: 0; /* Remove margem extra */
    text-decoration: none;
    font-weight: normal;
}

main > section > a > img.imagem-personagem {
    width: 60%;
    display: block;
    border-radius: 50%;
    background-color: white;
    margin: auto;
}

main section a h2 {
    font-family: var(--fonte-genshin);
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.3em;
}